</div>
<div class="col-lg-3">
  <div class="card mt-3 mb-3" style="text-align: center">
    <div class="card-body">
      <img class="img-profile mb-3" src="/img/profile.png" alt="Marek Schwarz">
      <h5 class="card-title">Marek Schwarz</h5>
      <p class="card-text">Jsem web developer, věnuji se JavaScriptu a Node.js.</p>
      <p class="card-text">
        <a href="https://www.github.com/marvoqs" target=”_blank” class="fab fa-github social-media-icon text-dark"></a>
        <a href="https://www.linkedin.com/in/marekschwarz" target=”_blank”
          class="fab fa-linkedin-in social-media-icon text-dark"></a>
        <a href="https://twitter.com/marvoqs" target=”_blank” class="fab fa-twitter social-media-icon text-dark"></a>
        <a href="mailto:marvoqs@gmail.com" class="fas fa-envelope social-media-icon text-dark"></a>
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header bg-light">Poslední příspěvky</div>
    <div class="card-body">
      <% newPosts.map((post) => { %>
      <a href="/posts/<%= post.id %>/<%= post.kebab %>" class="card-title"><%= post.title %></a>
      <p class="card-text"><small class="text-muted"><%= post.dateHumanized %></small></p>
      <% }); %>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header bg-light">Nejčtenější příspěvky</div>
    <div class="card-body">
      <% popularPosts.map((post) => { %>
      <a href="/posts/<%= post.id %>/<%= post.kebab %>" class="card-title"><%= post.title %></a>
      <p class="card-text"><small class="text-muted"><%= post.dateHumanized %></small></p>
      <% }); %>
    </div>
  </div>

</div>
</div>
</div>
</body>

</html>