<%- include("partials/header"); %>
<h2><%= post.title %></h2>
<p class="text-muted"><%= post.dateHumanized %></p>
<p><%= post.intro %></p>
<p><%= post.content %></p>

<a href="#" onclick="window.history.back()">Vrátit se zpět</a>


<%- include("partials/footer"); %>
