<%- include("./../partials/header"); %>
<% if (user) { %>
  <a href="/posts/new" class="btn btn-success float-right" role="button" aria-pressed="true">Nový článek</a>
<% } %>
<% posts.map((post) => { %>
<h3><a href="/posts/<%= post.slug %>" class="link-heading"><%= post.title %></a></h3>
<p class="text-muted"><%= post.dateHumanized %></p>
<p><%= post.intro %></p>
<p><a href="/posts/<%= post.slug %>">Číst více</a></p>
<hr />
<% }); %>
<div class="d-flex justify-content-between mb-3">
  <div>
    <% if (typeof(navigation.previous) !== "undefined") { %>
    <a href="/posts/?q=<%= query %>&page=<%= navigation.previous %>" class="btn btn-dark" role="button"
      aria-pressed="true">Previous</a>
    <% } %>
  </div>
  <div>
    <% if (typeof(navigation.next) !== "undefined") { %>
    <a href="/posts/?q=<%= query %>&page=<%= navigation.next %>" class="btn btn-dark" role="button"
      aria-pressed="true">Next</a>
    <% } %>
  </div>
</div>

<%- include("./../partials/footer"); %>