<%- include("./../partials/header"); %>
<h2><%= post.title %></h2>
<p class="text-muted"><%= post.dateHumanized %></p>
<p><%= post.intro %></p>
<div><%- post.sanitizedHtml %></div>
<a href="/posts/edit/<%= post.id %>" class="btn btn-info">Edit</a>


<a href="#" onclick="window.history.back()">Vrátit se zpět</a>


<%- include("./../partials/footer"); %>
